@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap');
:root{
  --red : #db0000;
}

body {
  margin: 0px;
  font-family: 'Old Standard TT', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   color: beige;
   background-color:  rgb(46, 45, 45);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* DASHBOARD */
.dashboard{
  display: grid;
  grid-template-columns: 7fr 2fr;
  padding-bottom: 1%;

  position: sticky;
  top: 0px;
  padding-top: 1%;
  border-bottom: 1px solid beige;
  background-color: rgb(46, 45, 45);
  color: beige;
}


    .header{
      font-size: 23pt;
      font-weight: 500;
      text-decoration: none;
      color: beige;
      padding-left: 0.5%;
    }

        .store-name{
          padding-left: 5px;
        }
        .nav-link{
          padding-top: 2%;
          display: flex;
          gap: 5%;
        }
        .class-link{
          color: beige;
          font-weight: 400;
          font-size: 17pt;
          text-decoration: none;
          border-left: 2px solid beige;
          padding-left: 5px;
          transition: 1s;
        }
          .class-link:hover {
           color: black;
          }

          .total-price{
            font-size: 15pt;
            display: flex;
            align-items: center;
          }
 /* HOME */      
 .home{
  background-color: rgb(46, 45, 45);
 }
 
    .home-main{
      display: grid;
      grid-template-columns: 5fr 3fr;
      background-color: rgb(46, 45, 45);
    } 

    .home-col1{
      border-bottom: 1px solid beige;
    } 
      .home-img{
        
        padding-bottom: 2.5%;
        transition: 1s;
      }
      
      .home-img:hover {
       opacity: 0.8;
        
      } 
        

    .home-col2{
      padding-top: 10%;
      padding-right: 1%;
      font-size: 13pt; 
      transition: 1s;
    }
      .home-col2:hover{
       margin-left: -1%;
      }
     

      .home-text1{
        padding-bottom: 3%;
      }

      .home-text2{
        padding-bottom: 5%;
      }

      .home-text3{
        padding-bottom: 9%;
      }
      
      #product-link{
        border: 1px solid beige;
        padding: 15px 20px 15px 15px;
      }

      .bottom-col2{
        margin-top: 20%;
        border-bottom: 1px solid beige ;
        width: 450px;
        background-color: rgb(46, 45, 45);
      }

     