:root{
    --red : #db0000;
  }
  
.shop-main{
    border-top: 0px solid var(--red);
    padding: 5%;
    padding-bottom: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10%;
    color: var(--red);
    
    
}

    .product{
        display: flex;  
        gap: 10px;
        }

    .product-desc{
       
    }    

        .product-image{
            transition: 0.5s;
            border: 1px solid black;
        }

        .product-image:hover{
           height: 310px;
           width: 235px;
        }
        .product-label{
            padding-bottom: 5%;
            color: var(--red);
            font-size: 13pt;
        }
        
        .price-cont{
            padding-bottom: 2.5%;
        }
        .buy-btn{
            font-weight: 500;
            cursor: grabbing;
        }

        .buy-btn:hover{
            color: #db0000;
            font-size: 15pt;
        } 

/* CART */

.cart-container{
   
    border: 0px solid black;
}

.cart-log, .cart-head, .total-cart{
    display: grid;
    grid-template-columns: 4fr 1fr 1fr 2fr;
    gap: 10px;
    width: 80%;
    font-size: 12pt;
}

.cart-log>div{
    border: 0px solid black;
}

    .cart-head{
        padding-top: 5%;
        border-bottom: 1px solid var(--red);
    }
    .cart-log{
        padding-top: 1%;
        border-left: 0px solid var(--red);
        padding-bottom: 1%;
    }

    .total-cart{
    font-size: 12pt;
    padding-top: 2.5%;
    font-weight: 500;
    border-top: 1px solid var(--red);
}

#checkout-id:hover{
    cursor:pointer;
    font-size: 13pt;
}
