:root{
    --red : #db0000;
  }
  
.shop-main{
    border-top: 0px solid var(--red);
    padding: 5%;
    padding-bottom: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10%;
    color: beige;
    background-color: rgb(46, 45, 45);
    
    
}

    .product{
        display: flex;  
        gap: 10px;
        }

    .product-desc{
       font-weight: 500;
        display: flex;
        gap: 2%;
        flex-direction: column;
    }    

        .product-image{
            transition: 1s;
            border: 1px solid black;
        }

        .product-image:hover{
           height: 310px;
           width: 235px;
           opacity: 0.8;
        }
        .product-label{
            padding-bottom: 5%;
            font-weight: 500;
            font-size: 13pt;
        }
        
        .price-cont{
            padding-bottom: 2.5%;
        }
        
        button{
            background-color: beige;
            border: 1px solid rgb(46, 45, 45);
            font-weight: 500;
            font-family: 'Old Standard TT', serif;
            font-size: 11pt;
        }
        button:active {
           background-color: rgb(46, 45, 45);
           color: beige;
        }

/* CART */

.cart-container{
   padding-left: 1%;
}

.cart-log, .cart-head, .total-cart{
    display: grid;
    grid-template-columns: 4fr 1fr 1fr 2fr;
    gap: 10px;
    width: 80%;
    font-size: 12pt;
}

.cart-log>div{
    border: 0px solid black;
}

    .cart-head{
        padding-top: 5%;
        border-bottom: 1px solid beige;
    }
    .cart-log{
        padding-top: 1%;
        border-left: 0px solid var(--red);
        padding-bottom: 1%;
    }

    .total-cart{
    font-size: 12pt;
    padding-top: 2.5%;
    font-weight: 500;
    border-top: 1px solid beige;
}

#checkout-id{
    border: 1px solid beige;
    width: 100px;
    display: flex;
    justify-content: center;
    padding:5px;
}
#checkout-id:hover{
    cursor:pointer;
    font-size: 13pt;
    
}
